@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
:root{
    --color-1: #0D1B2A;
    --color-2: #1B263B;
    --color-3: #415A77;
    --color-4: #778DA9;
    --color-5: #E0E1DD;
}
body{
    background-color: var(--color-2);
    font-family: 'Roboto';
    width: 100%;
}
header{
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    padding: 20px;
    width: 96vw;
}
ul{
    list-style: none;
}
.name-site{
    color: var(--color-5);
    font-size: 18px;
    width: 40vW;
}

#span-name{
    color: var(--color-4);
}
.social img{
    width: 35px;
    background-color: var(--color-5);
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 1px var(--color-5);
}
.social img:hover{
    background-color: var(--color-4);
    transition: 0.6s;
    transform: scale(1.05);
}
.social li{
    display: inline;
    padding-right: 5px;
}
.social{
    width: 60vw;
    display: flex;
    justify-content: right;
    /* padding-right: 25px; */
}
.container{
    display: flex;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
    margin-bottom: 3rem;
}
.left{
    width: 50%;
    padding-left: 2rem;

}
.title-cargo p{
    font-size: 18px;
    color: var(--color-5);
}
.title-cargo h1{
    color: var(--color-5);
}
.title-cargo h1 span{
    color: var(--color-4);
}
#cargo{
    text-transform: uppercase;
    margin-left: 3px;
    font-weight: 800;
}
#p-techs{
    margin: 1rem;
}
.techs img{
    width: 44px;
    padding-right: 8px;
}
.techs img:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width: 40%;
}
.right img:hover{
    transform: scale(1.2);
    transition: 0.6s;
}
.btn-curriculo{
    margin-top: 1rem;
}
.btn-curriculo button{
    background: var(--color-4);
    padding: 20px;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 15px;
    color: var(--color-1);
    box-shadow: 0px 0px 5px 3px var(--color-3);
    font-weight: 900;
}
.btn-curriculo button img{
    margin-left: 10px;
    width: 16px;
}
.btn-curriculo button:hover{
    transition: 0.6s;
    background-color: var(--color-1);
    color: var(--color-5);
}
.sobre{
    display: flex;
    align-items: center;
    background-color: var(--color-1);
   
}
.left-sbr{
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-sbr{
    width: 50%;
    display: flex;
    justify-content: left;
}
.sobre-description{
    background-color: var(--color-2);
    margin-right: 3rem;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 4px var(--color-2);
}
.sobre-description h1{
    color: var(--color-3);
    display: flex;
    justify-content: center;
}
.sobre-description p{
    color: var(--color-5);
    font-size: 1.2em;
}
.img-sbr{
    display: flex;
    justify-content: center;
}
.img-sbr img{
    background-color: var(--color-4);
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px 4px var(--color-2);
}
.title-project{
    font-size: 15px;
    margin: 2rem;
    color: var(--color-3);
    display: flex;
    justify-content: center;
} 
.card-project{
    width: 20vw;
    background-color: var(--color-1);
    border-radius: 15px;
    margin-bottom: 2rem;
}
.img-project img{
    width: 50%;
    padding: 20px;
}
.img-project{
    display: flex;
    justify-content: center;
    align-items: center;

}
.name-project{
    display: flex;
    justify-content: center;
    color: var(--color-5);
}
.description-prj{
    color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9%;
}
.tech-prj{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-4);
}
.tech-prj p{
    padding: 1vh;
    padding-bottom: 20px;
}
.prj{
    display: flex;
    justify-content: space-around;
}
.lds-facebook {
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

@media (max-width: 700px){
    header{
        background-color: var(--color-2);
        display: flex;
        align-items: center;
        padding: 20px;
        width: 85vw;
    }
    .name-site{
        width: 35vw;
    }
    .social{
        width: 65vw;
    }
    .container{
        display: flex;
        align-items: center;
        padding-top: 3rem;
        width: 99%;
        margin-bottom: 3rem;
    }
    .right img{
        width: 100%;
    }
    .right img:hover{
        transform: scale(1.1);
    }
    .img-sbr img{
        margin-left: 0rem;
        display: flex;
        justify-content: center;
    }
    
    .sobre{
        flex-direction: column-reverse;
    }
    .sobre-description{
        padding: 10px;
        margin-top: 2rem; 
        width: 100%;
        font-size: 15px;
    }
    .sobre-description h1{
        justify-content: center;
        display: flex;
    }
    .left-sbr{
        
    }
    .right-sbr{
       display: block;
    }
     
.card-project{
    width: 80vw;
    background-color: var(--color-1);
    border-radius: 15px;
}
.project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.prj{
    display: inline;
    justify-content: center;
}
.title-project{
    display: flex;
    justify-content: center;
}
}
@media (min-width: 750px){

    .sobre-description{
        padding: 20px;
        width: 100%;
        font-size: 15px;
    }
}